langchain
langchain-community
langchain-openai
langchain-classic
langchain-chroma
langchain-teddynote
langsmith
langgraph
langchain-tavily

pandas
python-dotenv
pypdf
pymupdf
pydantic
matplotlib
seaborn
numpy
mysql-connector-python
faiss-cpu
chromadb
sentence-transformers
tiktoken
unstructured
grandalf